//! In Bootstrap : always import functions before variables ... otherwise some features won't work
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";


//* Mes variables couleurs :
$darkbrown : #89543d;
$beige : #FFF5F1;
$brown : #a67c52;

$todo:#c9cba3;
$doing:#ffe1a8;
$done:#e26d5c;

$custom-colors : (
    "darkbrown" : $darkbrown ,
    "beige" : $beige ,
    "brown" : $brown ,
    "todo" : $todo,
    "doing" : $doing,
    "done"  : $done,
);

$theme-colors : map-merge($theme-colors , $custom-colors);
