//? todo list boite
.box-colns{
    width: 100vw;
    height: 100%;
    border: $darkbrown;
    margin-top: 40px;
}
.colon{
    border: 2px solid $darkbrown;
    margin: 15px;
    width: 40%;
    height: 520px;
}
h1{
    color:$darkbrown;
    font-family:cursive;
    text-decoration: underline;
}